@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: 'SuisseIntl'; 
  src: url('https://whoismark.de/assets/fonts/SuisseIntl-Book-WebM.woff2') format('woff2'); 
  font-weight: normal; 
  font-style: normal;
  }

